[program:elasticsearch]
command= /opt/elasticsearch-{{ elasticsearch_version }}/bin/elasticsearch -Des.insecure.allow.root=true -Des.network.host=0.0.0.0 --cluster.name=es-ansible-docker --discovery.zen.ping.multicast.enabled=false --discovery.zen.ping.unicast.hosts={{ elasticsearch_hosts }}
directory=/opt/elasticsearch-{{ elasticsearch_version }}
autostart=true
autorestart=true
startretries=999
redirect_stderr=True
nodaemon = False
debug = False
stdout_logfile = /var/tmp/elasticsearch.out
stderr_logfile = /var/tmp/elasticsearch.err
loglevel = "info"
stopasgroup=true